*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgoldenrodyellow;
}
.head{
    height: 20vh;
}
.head h1{
    text-align: center;
    position: relative;
    top: 5vh;
    font-size: 50px;
}
.main {

}
.mask{
    text-align: center;
    position: relative;
    opacity: 0.5;
}
.main div{
    background-color: #ffd7d7;
    width: 35vw;
    height: 40vh;
    float: left;
    margin: 20px;
    position: relative;
    left: 10vw;
}
img{

}