@media screen and (min-width: 768px),
  screen and (min-height: 760px) and (orientation: landscape) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgba(255, 255, 255, 100%);
  }
  .head {
    margin: 30px;
    height: 110px;
  }
  .head h1 {
    text-align: center;
    position: relative;
    font-size: 3rem;
  }
  .main {
    position: relative;
    left: 5vw;
  }
  .view {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 40%;
    height: 500px;
    margin: 30px;
    float: left;
    position: relative;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 13px;
  }
  .view h2 {
    position: absolute;
    top: 4vh;
    left: 30px;
    font-weight: bolder;
    z-index: 3;
    display: inline-block;
    font-size: 30px;
  }
  .view p {
    position: relative;
    top: 14vh;
    left: 30px;
    z-index: 3;
    display: inline-block;
    font-size: 23px;
  }
  .view img {
    position: absolute;
    left: 18vw;
    bottom: 4vh;
    width: 50%;
    height: 50%;
  }
  .mask {
    position: relative;
    opacity: 0;
    width: 100%;
    height: 100%;
    bottom: 59px;
    border-radius: 20px;
    z-index: 12;
  }
  .mask:hover {
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;
  }
  .mask a:focus {
    background-color: rgba(0, 180, 0, 100%);
  }
  .mask a {
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    padding: 20px;
    position: relative;
    top: 280px;
    left: 4vw;
    border: 1px solid white;
    border-radius: 10px;
  }
}

@media screen and (max-width: 767px),
  screen and (max-height: 479px) and (orientation: landscape) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgba(255, 255, 255, 100%);
  }
  .head {
    height: 80px;
    margin: 20px;
  }
  .head h1 {
    text-align: center;
    position: relative;
    font-size: 2.5rem;
  }
  .main .view {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 90%;
    left: 4vw;
    height: 200px;
    margin: 15px;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  }
  .view h2 {
    position: absolute;
    top: 2vh;
    left: 30px;
    font-weight: bolder;
  }
  .view p {
    position: absolute;
    top: 8vh;
    left: 30px;
    z-index: 1;
  }
  .view h2,
  .view p {
    display: inline-block;
    font-size: 18px;
  }
  .view img {
    position: absolute;
    left: 50vw;
    bottom: 2vh;
    width: 40%;
    height: 75%;
    z-index: 4;
  }
  .mask {
    position: relative;
    opacity: 1;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .mask:hover {
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;
  }
  .mask a:focus {
    background-color: rgba(0, 0, 0, 90);
  }
  .mask a {
    font-size: 10px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    position: relative;
    top: 150px;
    left: 6vw;
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
  }
}
