@media screen and (min-width: 768px),
  screen and (min-height: 760px) and (orientation: landscape) {
  * {
    margin: 0;
    padding: 0;
  }
  #wrap {
    margin: 0 auto;
    width: 90%;
    height: 120vh;
  }

  body ul li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .cont_area1,
  .cont_area2,
  .cont_area3 {
    width: 85vw;
    height: 70vh;
    padding: 10px;
    position: relative;
    background-color: white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .cont_area1 {
    top: 10vh;
  }
  .cont_area2 {
    top: -63vh;
  }
  .cont_area3 {
    top: -137vh;
  }

  .tab_menu {
    margin-top: 5vh;
  }

  .is_on {
    display: inline-block;
    position: relative;
    left: 31vw;
    top: 5vh;
  }

  .btn {
    color: rgba(50, 50, 50, 100%);
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    padding: 20px;
    border-bottom: 2px solid transparent;
  }
  .tab_menu > .list > .is_on:hover > .btn {
    color: rgba(0, 180, 0, 100%);
    border-bottom: 2px solid rgba(0, 180, 0, 100%);
  }

  .tit {
    text-align: center;
    margin: 2vh 0vw;
    font-weight: 600;
    font-size: 45px;
    color: rgba(50, 50, 50, 100%);
  }

  .search-box {
    position: relative;
    left: 30vw;
    top: 0.5vh;

  }
  p{
   position: relative;
   left: 5vw;
  }
  .txt{
    width: 400px;
    height: 20px;
    border: 1px solid #999999;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    outline: none;

  }


  .notice_on{
    display: inline-block;
    position: relative;
    top: 9vh;
    left: 32vw;
  }
  .FAQ_on {
    display: inline-block;
    position: relative;
    top: 10vh;
    left: 8vw;
  }

  .tab_selected {
    display: inline-block;
    position: relative;
    left: 36vw;
    top: 1vh;
  }

  .btn1,
  .btn2,
  .btn3 {
    text-align: center;
    font-size: 16px;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  .notice_on:hover > .btn1,
  .FAQ_on:hover > .btn2,
  .tab_selected:hover > .btn3 {
    color: white;
    background-color: rgba(0, 180, 0, 100%);
    border-radius: 10px;
  }

  .tabnotice1,
  .tabFAQ1 {
    position: relative;
    top: 14vh;
    left: 10vw;
  }

  table {
    border-collapse: collapse;
    width: 70vw;
    height: 22vh;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
    position: relative;
    background-color: white;
    text-align: center;
    font-size: smaller;
  }
  thead {
    background-color: rgba(242, 242, 242, 80%);
  }

  .th1 {
    width: 5vh;
    padding: 1.5vh;
  }
  .th2 {
    width: 20vh;
  }
  .th3 {
    width: auto;
  }

  th {
    font-weight: 500;
    border-bottom: 1px solid #555555;
  }
  td {
    border-bottom: 1px solid #555555;
  }

  .num {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    font-size: 10px;
    display: inline-block;
    color: #555555;
    text-align: center;
    line-height: 3vh;
    border: 1px solid gray;
    position: relative;
    left: 11vw;
    top: 1vh;
  }

  .page-btn {
    position: relative;
    padding: 0vh 25vw;
    top: 15vh;
  }

  .visit {
    position: relative;
    z-index: 10;
  }

  .search-box > p {
    font-size: 12px;
    margin-bottom: 2vh;
  }

  .tabInquiry1 {
    position: relative;
    top: 9vh;
    left: 10vw;
  }
  .tit3 {
    display: inline-block;
    width: 15vw;
    height: 3vh;
  }
  textarea {
    width: 50vw;
    height: 20vh;
  }
  .button4 input {
    position: relative;
    left: 16vw;
  }
}

@media screen and (max-width: 767px),
  screen and (max-height: 479px) and (orientation: landscape) {
  * {
    margin: 0;
    padding: 0;
  }
  #wrap {
    margin: 0 auto;
    width: 90%;
    height: 120vh;
  }

  body ul li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .cont_area1,
  .cont_area2,
  .cont_area3 {
    width: 85vw;
    height: 70vh;
    padding: 10px;
    position: relative;
    background-color: white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .cont_area1 {
    top: 10vh;
  }
  .cont_area2 {
    top: -63vh;
  }
  .cont_area3 {
    top: -137vh;
  }

  .tab_menu {
    margin-top: 5vh;
  }

  .is_on {
    display: inline-block;
    position: relative;
    left: 10vw;
    top: 5vh;
  }
  .btn {
    color: rgba(50, 50, 50, 100%);
    text-align: center;
    font-size: large;
    font-weight: 800;
    padding: 20px;
    border-bottom: 2px solid transparent;
  }
  .tab_menu > .list > .is_on:hover > .btn {
    color: rgba(0, 180, 0, 100%);
    border-bottom: 2px solid rgba(0, 180, 0, 100%);
  }

  .tit {
    text-align: center;
    margin: 2vh 0vw;
    font-weight: 600;
    color: rgba(50, 50, 50, 100%);
  }
  .search-box {
    position: absolute;
    left: 13vh;
  }

  .notice_on,
  .FAQ_on {
    display: inline-block;
    position: relative;
    top: 10vh;
    left: 5vw;
    margin: 0.5vh 0.5vw;
  }

  .tab_selected {
    display: inline-block;
    position: relative;
    top: 4vh;
    left: 20vw;
  }

  .btn1,
  .btn2,
  .btn3 {
    text-align: center;
    font-size: 16px;
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  .notice_on:hover > .btn1,
  .FAQ_on:hover > .btn2,
  .tab_selected:hover > .btn3 {
    color: white;
    background-color: rgba(0, 180, 0, 100%);
    border-radius: 10px;
  }

  .tabnotice1,
  .tabFAQ1 {
    position: relative;
    top: 14vh;
    left: 2vh;
  }

  table {
    border-collapse: collapse;
    width: 80vw;
    height: 22vh;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
    position: relative;
    background-color: white;
    text-align: center;
    font-size: smaller;
  }
  thead {
    background-color: rgba(242, 242, 242, 80%);
  }

  .th1 {
    width: 5vh;
    padding: 1.5vh;
  }
  .th2 {
    width: 20vh;
  }
  .th3 {
    width: auto;
  }

  th {
    font-weight: 500;
    border-bottom: 1px solid #555555;
  }
  td {
    border-bottom: 1px solid #555555;
  }

  .num {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    font-size: 10px;
    display: inline-block;
    color: #555555;
    text-align: center;
    line-height: 3vh;
    border: 1px solid gray;
  }

  .page-btn {
    position: relative;
    padding: 0vh 25vw;
    top: 15vh;
  }

  .visit {
    position: relative;
    z-index: 10;
  }

  .search-box > p {
    font-size: 12px;
    margin-bottom: 2vh;
  }

  .tabInquiry1 {
    position: relative;
    top: 9vh;
    left: 10vw;
  }
  .tit3 {
    display: inline-block;
    width: 15vw;
    height: 3vh;
  }
  textarea {
    width: 50vw;
    height: 20vh;
  }
  .button4 input {
    position: relative;
    left: 16vw;
  }
}
