@media screen and (min-width: 1024px) , screen and (min-height: 1024px) and
(orientation: landscape){
    *{
        margin: 0;
        padding: 0;
    }
    #wrap{
        margin: 0 auto;
        width: 90%;
    }
    body, ul, li{
        list-style: none;
    }



    .is_on{
        position: relative;
        top: 70px;
        left: 600px;
        border-bottom: 1px solid silver;

    }


    .cont_area1{
        background-color: #fff6d0;
        width: 90vw;
        height: 800px;
        position: relative;
        top: 100px;
        left: 120px
    }

    .cont_area2{
        background-color: #fff6d0;
        width: 90vw;
        height: 800px;
        position: relative;
        top: -720px;
        left: 120px;
    }

    .cont_area3{
        background-color: #fff6d0;
        width: 90vw;
        height: 800px;
        position: relative;
        top: -1542px;
        left: 120px;

    }

    .tab_menu>.list>.is_on
    {
        display: inline-block;
    }
    .tab_menu>.list>.is_on>.btn{
        display: inline-block;
        font-size: 200px;
        text-decoration: none;
        color: inherit;
        padding: 10px 10px 10px 10px;
        margin:10px;

    }

    .tit{
        font-size: 65px;
        position: relative;
        top: 50px;
        left: 600px;
        color: #555555;

    }



    .tab_menu>.list>.is_on:hover > .btn{
        color: #1abb9b;
        border-bottom: #1abb9b;
    }
    .btn-search{
        font-size: 15px;
        text-align: center;

    }

    .search-box{
        position: relative;
        top: 60px;
        left: 250px;
    }
    #searchWord{
        width: 500px;
        height: 20px;
        position: relative;
        left: 200px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #fff6d0;
        border-bottom: 3px solid #b8d229;
    }
    .btn-search{
        width: 40px;
        height: 40px;
        position: relative;
        top: -7px;
        left: 200px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #fff6d0;
        border-bottom: 3px solid #b8d229;

    }
    .notice_list{
        position: relative;
        top: 80px;
        left: 250px;
    }

    .notice_on{
        text-align:center;
        position: relative;
        top: 35px;
        left: 175px;
        bottom: 50px;
    }


    .btn1{
        list-style: none;
        text-align: center;
        font-size: 20px;
        color: black;
        margin: 15px;
        padding: 5px 15px;
        text-decoration: none;

    }


    .cont > .notice_list> .notice_on:hover> .btn1{
        color: white;
        background-color: #1abb9b;
        border-radius: 10px;

    }




    .cont>.notice_list>.notice_on{
        display: inline-block;
        text-align: center;
    }

    .cont> .notice_on> .btn1
    {
        display: inline-block;

    }


    #tabnotice1{

        height: 100px;
        padding: 10px 10px;
        position: relative;
        top: 150px;
        left: 100px;
    }
    table{
        width: 1000px;
        border-bottom: 1px solid #555555;
        border-top:1px solid #555555;
        position: relative;
        left: 130px;
        background-color: white;
    }
    thead{
        background-color: #d1d2d5;
    }

    .th1{
        text-align: center;
        width: 40px;
        height: 30px;

    }
    .th2{

        text-align: center;
    }
    .th3{
        text-align: center;

    }

    th{

        border-bottom: 1px solid #555555;
    }
    td{
        width: 200px;
        height: 50px;
        border-bottom: 1px solid #555555;
    }

    .page-btn{
        position: relative;
        left: 500px;
        bottom: -20px;
    }

    .tab_menu .list li.is_on .btn{
        font-weight:bold;
        font-size: 30px;
        color:rgb(120,120,120);
    }

    ul{
        list-style: none;
    }

    .is_on{
        text-align: center;
    }

    .tab_menu > ul > li >a {
        display: block;
        color: rgb(120,120,120);
    }

    .tab_menu > ul > li:hover >a {
        color: #1abb9b;
        list-style: none;
    }



    .num{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 14px;
        display: inline-block;
        color: gray;
        text-align: center;
        line-height: 30px;
        border: 1px solid gray;
    }


    .cont2 > .FAQ_list > .FAQ_on{
        display: inline-block;
    }

    .cont3 > .Inquiry_list > .tab_selected{
        display: inline-block;
    }
    .FAQ_on{
        text-decoration: none;
        position: relative;
        bottom: -20px;
    }
    .tit2{
        font-size: 50px;
        position: relative;
        top: 50px;
        left: 370px;

    }
    .btn2{
        list-style: none;
        text-align: center;
        font-size: 20px;
        color: black;
        margin: 15px;
        padding: 5px 15px;
        text-decoration: none;

    }

    .search-box2{
        position: relative;
        top: 60px;
        left: 250px;


    }
    .btn-search2{
        font-size: 15px;
        background-color: #fff6d0;
    }


    #tabFAQ1{

        height: 100px;
        padding: 10px 10px;
        position: relative;
        top: 150px;
        left: 100px;
    }
    .cont2> .FAQ_list> .FAQ_on:hover> .btn2{
        color: white;
        background-color: #1abb9b;
        border-radius: 10px;

    }


    .FAQ_list{
        position: relative;
        top: 80px;
        left: 175px;
    }
    #searchWord2{
        width: 500px;
        height: 20px;
        position: relative;
        left: 300px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #fff6d0;
        border-bottom: 3px solid #b8d229;
    }
    .btn-search2{
        width: 40px;
        height: 40px;
        position: relative;
        top: -7px;
        left: 295px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #fff6d0;
        border-bottom: 3px solid #b8d229;

    }
    .search-box>p{
        position: relative;
        left: 380px;
    }
    .tab3>.Inquiry_list>.btn3{
        display: inline-block;
        position: relative;
        top: 50px;
    }

    .btn3{
        list-style: none;
        text-align: center;
        font-size: 20px;
        color: black;
        margin: 15px;
        padding: 5px 15px;
        text-decoration: none;

    }
    .cont3>.Inquiry_list>.tab_selected:hover>.btn3{
        color: white;
        background-color: #1abb9b;
        border-radius: 10px;
    }

    .Inquiry_list{
        position: relative;
        top: 80px;
        left: 550px;
    }
    .tit3{
        position: relative;
        top: 120px;
        left: 400px;
        font-size: 17px;

    }
    .select{
        position: relative;
        top: 95px;
        left: 500px;
    }
    .title{
        position: relative;
        top: 120px;
        left: 430px;
    }

    .txt{
        width: 500px;
        position: relative;
        top: -1px;
        left: 30px;
    }
    .cont4{
        position: relative;
        top: 150px;
        left: 590px;
    }
    .alertMsg1{
        position: relative;
        top:-10px;
        left: -150px;
        width: 500px;
    }
    .txt2{
        width: 550px;
        height: 350px;
        position: relative;
        left: 60px;
        top: -20px;

    }
    .add{
        position: relative;
        left: 36px;
    }
    .title5{
        position: relative;
        top: 130px;
        left: 425px;
    }
    .visit {
        position: relative;
        z-index: 10;
    }
    .button4{
        position: relative;
        top: 80px;
        left: 350px;
    }
}

@media screen and (max-width: 767px),
screen and (max-height: 479px)
and (orientation: landscape){
    *{
        margin: 0;
        padding: 0;
    }
    #wrap{
        margin: 0 auto;
        width: 90%;

    }
    #top{
        width: 80vw;
        margin: 5vh auto;
    }

     body ul li{
        list-style: none;
    }
     a{
         text-decoration: none;
     }
    .cont_area1{
        background-color: #fff6d0;
        width: 85vw;
        height: 50vh;
        position: relative;

    }
    .cont_area2{
        background-color: #fff6d0;
        width: 85vw;
        height: 50vh;
        position: relative;
        top: -50vh;

    }
    .cont_area3{
        background-color: #fff6d0;
        width: 85vw;
        height: 50vh;
        position: relative;
        top: -100vh;

    }
    .tab_menu>.list>.is_on
    {
        display: inline-block;

    }
    .list{
        background-color: #fff6d0;
        width: 85vw;
        height: 6vh;
        border-top: 2px solid silver;
        border-bottom: 2px solid silver;
        text-align: center;
    }
    .is_on{
        position: relative;
        left: 2vh;
        top: 2vh;
        color: black;

    }
    .btn{
        padding: 5px;
        margin-right: 2vh;
    }
    .tab_menu>.list>.is_on:hover > .btn{
        color: #1abb9b;
        border-bottom: #1abb9b;
    }
    .tab_menu{
        display: block;
    }
    .tit{
      position: relative;
      top: 3vh;
      left: 18vh;
      font-size: 25px;
    }
    .search-wrap{
      position: absolute;
      top: 8vh;
      left: 14vh;
      font-size: 14px;
    }

    .cont>.notice_list>.notice_on{
        display: inline-block;
        text-align: center;
    }
    .btn1{
        list-style: none;
        text-align: center;
        font-size: 16px;
        color: black;
        padding: 2px 2px;
        text-decoration: none;

    }
    .notice_on{
        position: relative;
        top: 7vh;
        left: 9vh;
    }
    .cont > .notice_list> .notice_on:hover> .btn1{
        color: white;
        background-color: #1abb9b;
        border-radius: 10px;

    }

    #tabnotice1{
        position: relative;
        top: 11vh;
        left: 2vh;
    }

    table{
        width: 80vw;
        height: 22vh;
        border-bottom: 1px solid #555555;
        border-top:1px solid #555555;
        position: relative;
        background-color: white;
    }
    thead{
        background-color: #d1d2d5;
    }

    .th1{
        text-align: center;
        width: 2vw;
        height: 3vh;
        font-size: 10px;

    }
    .th2{
        font-size: 10px;
        text-align: center;
    }
    .th3{
        font-size: 10px;
        text-align: center;

    }

    th{

        border-bottom: 1px solid #555555;
    }
    td{
        width: 2vw;
        height: 5vh;
        border-bottom: 1px solid #555555;
    }
    .num{
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        font-size: 10px;
        display: inline-block;
        color: #555555;
        text-align: center;
        line-height: 3vh;
        border: 1px solid gray;
    }

    .page-btn{
        position: relative;
        left: 10vh;
        top: 1.5vh;
    }

    .visit {
        position: relative;
        z-index: 10;
    }
    .tit{
        left: 130px;
    }
    .search-wrap{
        position: relative;
        left: 100px;
        top: 35px;
    }
    .search-box>p{
        font-size: 12px;
    }
    .cont2 > .FAQ_list > .FAQ_on{
        display: inline-block;
    }

    .FAQ_on{
        text-decoration: none;
        position: relative;
       top: 45px;
        font-size: 16px;
        text-align: center;
    }
    .btn2{
        color: black;
        text-align: center;
        position: relative;
        left: 50px;
    }
    .cont2> .FAQ_list> .FAQ_on:hover> .btn2{
        color: white;
        background-color: #1abb9b;
        border-radius: 10px;
    }
    #tabFAQ1{
        position: relative;
        top: 7vh;
        left: 2vh;
    }
    .tab3>.Inquiry_list>.btn3{
        display: inline-block;

    }
    .btn3{
        color: black;
    }
    .cont3 > .Inquiry_list > .tab_selected{
        display: inline-block;
        position: relative;
        top: 3.5vh;
        left: 11vh;

    }
    .cont3>.Inquiry_list>.tab_selected:hover>.btn3{
        color: white;
        background-color: #1abb9b;
        border-radius: 10px;
    }
   #tabInquiry1{
       position: relative;
       top: 3vh;
       left: 10vh;
   }
   .tit3{
       position: relative;
       left: -9vh;
       top: 1.5vh;
   }
   .select-wrap{
       position: relative;
       top: -1vh;
   }
   .alertMsg{
       position: relative;
       left: -5vh;
   }
   .alertMsg1{
       position: relative;
       left: -5vh;
       top: 0.5vh;
   }
   .txt2{
       position: absolute;
       top: 1vh;
       left: 4vh;
       width: 55vw;
   }
   .title5{
       position: absolute;
       top: 35vh;
        left: -5vh;

   }
   .button4{
       position: relative;
       top: 14.5vh;
       left: 3vh;
   }



}