@media screen and (min-width: 768px),
screen and (min-height: 760px) and (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgba(255, 255, 255, 100%);
    }

    ul {
        list-style: none;
    }

    a{
        text-decoration: none;
    }
    nav {
        background-color: white;
    }

    h1{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .center {
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subscriber, .event {
        position: relative;
        width: 550px;
        height: 250px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        margin: 20px;

    }

    .subscriber img, .event img {
        width: 100%;
        height: 100%;
    }

    .center .over {
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        padding-top: 40px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .subscriber:hover .over, .event:hover .over {
        opacity: 1;
    }

    .subscriber .over h2, .event .over h2 {
        font-size: 22px;
        padding-bottom: 1em;
        overflow: hidden;

    }

    .subscriber .over p, .event .over p {
        font-size: 18px;
        padding-bottom: 1.5em;
    }

    .center a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 180, 0, 100%);
        border-radius: 15px;
        padding: 5px 20px;
    }
}

@media screen and (max-width: 767px),
screen and (max-height: 479px) and (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgba(255, 255, 255, 100%);
    }

    ul {
        list-style: none;
    }

    a{
        text-decoration: none;
    }
    nav {
        background-color: white;
    }

    h1{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .center {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscriber, .event {
        position: relative;
        width: 400px;
        height: 200px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        margin: 10px;
    }

    .subscriber img, .event img {
        width: 100%;
        height: 100%;
    }

    .center .over {
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        padding-top: 35px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .subscriber:hover .over, .event:hover .over {
        opacity: 1;
    }

    .subscriber .over h2, .event .over h2 {
        font-size: 20px;
        padding-bottom: 0.7em;
        overflow: hidden;
        color: khaki;

    }

    .subscriber .over p, .event .over p {
        font-size: 16px;
        padding-bottom: 1.2em;
    }

    .center a {
        font-size: 18px;
        font-weight: 550;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 180, 0, 100%);
        border-radius: 15px;
        padding: 5px 20px;
    }
}