@media screen and (min-width: 1024px) , screen and (min-height: 1024px) and
(orientation: landscape){
    *{
        margin: 0;
        padding: 0;
    }

    body, ul, li{
        list-style: none;
    }
    .page-wrap faq{
        margin: 0 auto;
        width: 90%;
    }




   .is_on{
        position: relative;
        top: 100px;
         left: 600px;
        border-bottom: 1px solid silver;

    }


    .cont_area1{
        background-color: red;
        width: 90vw;
        height: 800px;
        position: relative;
        top: 100px;
        left: 500px
    }

    .cont_area2{
        background-color: #07b53b;
        width: 90vw;
        height: 800px;
        position: relative;
        top: -720px;
        left: 500px;
    }

    .cont_area3{
        background-color: yellow;
        width: 90vw;
        height: 800px;
        position: relative;
        top: -1542px;
        left: 500px;

    }

    .tab_menu>.list>.is_on
    {
        display: inline-block;

    }
    .tab_menu>.list>.is_on>.btn{
        display: inline-block;
        font-size: 150px;
        text-decoration: none;
        color: inherit;
        padding: 10px 10px;
        margin:10px;


    }
    .tit{
        font-size: 50px;
        position: relative;
        top: 50px;
        left: 370px;

    }



    .tab_menu>.list>.is_on:hover > .btn{
        color: #1abb9b;
        border-bottom: #1abb9b;
    }
    .btn-search{
        font-size: 15px;
    }

    .search-box{
        position: relative;
        top: 60px;
        left: 250px;

    }
    #searchWord{
        width: 500px;
        height: 20px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #b8d229;
    }
    .btn-search{
        width: 40px;
        height: 40px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #b8d229;

    }
    .notice_list{
        position: relative;
        top: 80px;
        left: 250px;
    }

    .notice_on{
        text-align:center;
    }

    .btn1{
        list-style: none;
        text-align: center;
        font-size: 20px;
        color: black;
        margin: 15px;
        padding: 5px 15px;
        text-decoration: none;

    }


    .cont > .notice_list> .notice_on:hover> .btn1{
        color: white;
        background-color: #1abb9b;
        border-radius: 10px;

    }




    .cont>.notice_list>.notice_on{
        display: inline-block;
        text-align: center;
    }

    .cont> .notice_on> .btn1
    {
        display: inline-block;

    }


    #tabnotice1{

        height: 100px;
        padding: 10px 10px;
        position: relative;
        top: 100px;
        left: 100px;
    }
    table{
        width: 1000px;
        border-bottom: 1px solid #555555;
        border-top:1px solid #555555;
    }
    .th1{
        text-align: center;
        width: 40px;
        height: 30px;
    }
    .th2{

        text-align: center;
    }
    .th3{
        text-align: center;

    }

    th{

        border-bottom: 1px solid #555555;
    }
    td{
        width: 200px;
        height: 50px;
        border-bottom: 1px solid #555555;
    }



    .tab_menu .list li.is_on .btn{
        font-weight:bold;
        font-size: 30px;
        color:rgb(120,120,120);
    }

    ul{
        list-style: none;
    }

    .is_on{
        text-align: center;
    }

    .tab_menu > ul > li >a {
        display: block;
        color: rgb(120,120,120);
    }

    .tab_menu > ul > li:hover >a {
        color: #1abb9b;
        list-style: none;
    }



    .num{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 14px;
        display: inline-block;
        color: gray;
        text-align: center;
        line-height: 30px;
        border: 1px solid gray;
    }


    .cont2 > .FAQ_list > .FAQ_on{
        display: inline-block;
    }

    .cont3 > .Inquiry_list > .tab_selected{
        display: inline-block;
    }
    .FAQ_on{
        text-decoration: none;
    }
    .tit2{
        font-size: 50px;
        position: relative;
        top: 50px;
        left: 370px;

    }
    .btn2{
        list-style: none;
        text-align: center;
        font-size: 20px;
        color: black;
        margin: 15px;
        padding: 5px 15px;
        text-decoration: none;

    }

    .search-box2{
        position: relative;
        top: 60px;
        left: 250px;

    }
    .btn-search2{
        font-size: 15px;
    }


    #tabFAQ1{

        height: 100px;
        padding: 10px 10px;
        position: relative;
        top: 100px;
        left: 100px;
    }
    .cont2> .FAQ_list> .FAQ_on:hover> .btn2{
        color: white;
        background-color: #1abb9b;
        border-radius: 10px;

    }
    .notice_on{
        position: relative;
        top: 50px;
        bottom: 50px;
    }


    .visit {
        position: relative;
        z-index: 10;
    }

}
