
@media screen and (min-width: 768px)
, screen and (min-height: 760px)
and (orientation: landscape)  {
    * {
        margin: 0;
        padding: 0;
    }
    #wrap2{
        margin: 0 auto;
        width: 90%;
    }
    /* Style the tab */
    .tab {
        overflow: hidden;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        position: relative;
        left: 200px;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 30px 130px;
        transition: 0.3s;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        color: #07b53b;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        color: #07b53b;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        position: relative;
        left: 350px;
        width:70%;
    }
    .free_bottom{
        border-bottom: 2px solid black;
        width: 90%;
        margin: 20px 0px;
    }
    .select_icon li{
        list-style: none;
        display: inline-block;
        width: 20%;
        position: relative;
        left: 70px;
    }
    .select_icon li img{
        width: 35%;
        height: 20%;
    }
    .write{
        margin: 15px;
        position: relative;
        left: 23px;
    }
    .write input{
        padding: 20px 230px;
    }
    .write button{
        padding: 19px 30px;
        background-color: white;
        border: 1px solid ;
        font-weight: bold;
        font-size: 14px;
        position: relative;
        top: 1px;
    }
    .write button:active{
        color: rgba(0, 180, 0, 100%);;
    }
    .free_list{
        width: 90%;
        position: relative;
        left: -30px;
    }
    .list{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
    }
    .list li{
        list-style: none;
    }
    .list li a{
        text-decoration: none;
        color: #555555;
    }
    .inner{
        display: table;
        table-layout: fixed;
        /*width: 20%;*/
        border-bottom: 1px solid silver;
    }
    .thumb{
        display: table-cell;
        width: 24vw;
        padding: 12px;
        /*height: vh;*/

    }
    .thumb img{
        width: 16%;
        position: relative;
        left: 10vw;
    }
    .title{
        display: table-cell;
        position: relative;
        width: 40vw;
        left:-1vw;
        font-size: 20px;
        vertical-align: middle;
    }
}
@media screen and (max-width: 767px) , screen and (max-height: 479px) and (orientation: landscape) {
    * {
        margin: 0;
        padding: 0;
    }
}
